@import './../../../../styles/_variables.scss';

.item {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 15px;
  padding: 15px 45px 15px 20px;
  background-color: $mainCompColor;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.15);
}

.avatar {
  width: 38px;
  height: 38px;
  margin-bottom: 25px;
  border-radius: 50%;
  margin-right: 16px;

  @media (min-width: 992px) {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }
}

.text {
  resize: none;
  width: 100%;
  height: 57px;
  margin: 0;
  font-size: 16px;

  @media (min-width: 992px) {
    font-size: 18px;
    height: 67px;
  }
}

.likeCount {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 15px;
  bottom: 10px;
  height: 20px;
  font-size: 15px;

  svg {
    margin-right: 2px;
    width: 16px;
    height: 16px;
    fill: red;
  }

  @media (min-width: 992px) {
    font-size: 16px;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}