@import './../../../styles/variables';

// .dialog {
// }

.link,
.link:visited {
  display: flex;
  align-items: center;
  font-size: 15px;
  padding: 10px;
  width: 100%;
  border-radius: 5px;

  &:hover,
  &:active,
  &:focus {
    transition: all .3s;
    color: $linkColor;
    fill: $linkColor;
  }

  @media (min-width: 992px) {
    font-size: 17px;
  }
}

.active {
  background-color: $activeAndInputBgColor;
  color: $linkColor;
}