@import './../../../styles/variables';

.dialog {
  @media (min-width: 768px) {
    width: 100%;
  }
}

.link,
.link:visited {
  border: 1px solid $activeAndInputBgColor;
  display: flex;
  align-items: center;
  font-size: 15px;
  padding: 8px 10px;
  margin: 0 5px;
  border-radius: 5px;

  &:hover,
  &:active,
  &:focus {
    transition: all .3s;
    color: $btnBgColor;
  }

  @media (min-width: 768px) {
    justify-content: center;
    margin: 0;
    padding: 15px 5px;
    margin-bottom: 10px;
    width: 100%;
  }

  @media (min-width: 992px) {
    font-size: 17px;
  }
}

.link:hover,
.active {
  background-color: $activeAndInputBgColor;
  color: $btnBgColor;
}