.dialog {
    width: 200px;
    margin-bottom: 5px;
}

.link {
    display: inline-block;
    width: 100%;
    padding: 10px 15px;
    border-radius: 5px;
}

.link:hover,
.link:active,
.link:focus {
  transition: all .3s;
  background-color: #E4E6E9;
}

.active {
    background-color: #E4E6E9;
}
