@import './../../styles/_variables.scss';

.whrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.users {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;

    @media (min-width: 768px) {
        flex-flow: row wrap;
        justify-content: center;
    }
}

.form {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.formWhrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 300px;
    padding: 7px 10px;
    background-color: $activeAndInputBgColor;
    border-radius: 10px;
    font-size: 15px;

    @media (min-width: 469px) {
        font-size: 17px;
        min-width: 400px;
    }

    @media (min-width: 768px) {
        min-width: 500px;
    }
}

.textarea {
    width: 100%;
    font-size: 15px;

    @media (min-width: 768px) {
        font-size: 17px;
    }
}

.sendWhrapper {
    display: flex;
    align-items: center;

    .selectWhrapper {
        position: relative;
        display: flex;
        align-items: center;
        &:after {
            position: absolute;
            top: 3px;
            right: 10px;
            font-size: 10px;
            content: '\0025BC';
            color: $btnBgHoverColor;
            bottom: 0px;
            height: 10px;
            pointer-events: none;
        }

        select, option {
            -webkit-appearance: none;
        }

        select {
            width: 90px;
            color: $btnBgHoverColor;
            background-color: $activeAndInputBgColor;
            border: none;
            outline: none;
            cursor: pointer;
            margin-right: 2px;
            transition: .3s;
            padding-bottom: 2px;
        }

        &:hover {
            opacity: 0.8;
        }
    }
}

.button {
    svg {
        padding-top: 2px;
        width: 14px;
        fill: $btnBgHoverColor;
        transition: .3s;
        cursor: pointer;

        @media (min-width: 469px) {
            width: 18px;
        }

        &:hover {
            opacity: 0.6;
        }
    }
}