@import './../../styles/_variables.scss';

.whrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.users {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;

    @media (min-width: 768px) {
        flex-flow: row wrap;
        justify-content: center;
        
        div {
            margin-right: 15px;
        }

        div:nth-child(even) {
            margin-right: 0;
        }
    }
}

.form {
    position: relative;
    margin: 0 auto 15px;
}

.textarea {
    width: 300px;
    padding: 10px 125px 10px 10px;
    background-color: $activeAndInputBgColor;
    border-radius: 10px;
    font-size: 15px;

    @media (min-width: 469px) {
        font-size: 17px;
        width: 400px;
        padding: 10px 160px 10px 15px;
    }

    @media (min-width: 768px) {
        width: 500px;
    }
}

.select {
    display: flex;
    align-items: center;
    top: 20px;
    transform: translateY(-50%);
    right: 5px;
    position: absolute;

    @media (min-width: 469px) {
        right: 10px;
    }

    select {
        color: $btnBgHoverColor;
        background-color: $activeAndInputBgColor !important;
        border: none;
        outline: none;
        cursor: pointer;
        margin-right: 2px;
        transition: .3s;
        padding-bottom: 2px;

        @media (min-width: 469px) {
            margin-right: 10px;
        }

        &:hover {
            opacity: 0.8;
        }
    }
}

.button {
    svg {
        padding-top: 2px;
        width: 14px;
        fill: $btnBgHoverColor;
        transition: .3s;
        cursor: pointer;

        @media (min-width: 469px) {
            width: 18px;
        }

        &:hover {
            opacity: 0.6;
        }
    }
}