@import './../../../styles/variables';

.whrapper {
    display: flex;
    align-items: center;
    padding: 0 10px;
    background-color: $mainCompColor;
    border-radius: 5px;
    width: 290px;
    height: 150px;
    margin-bottom: 15px;

    @media (min-width: 512px) {
        padding: 0 20px;
        width: 310px;
        height: 160px;
    }

    @media (min-width: 992px) {
        width: 427px;
        height: 210px;
    }
}

.container {
    display: flex;
}

.photoWhrapper {
    display: flex;
    flex-direction: column;
    margin-right: 20px;

    @media (min-width: 768px) {
        margin-right: 40px;
    }
}

.avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid $mainBgColor;

    @media (min-width: 512px) {
        width: 100px;
        height: 100px;
    }

    @media (min-width: 992px) {
        width: 150px;
        height: 150px;
    }
}

.nameStatusWhrapper {
    display: flex;
    flex-direction: column;

    .name {
        width: 140px;
        font-size: 16px;
        margin-bottom: 5px;
        height: 25px;
        overflow: hidden;

        @media (min-width: 768px) {
            width: 160px;
        }

        @media (min-width: 992px) {
            width: 222px;
            font-size: 18px;
            height: 40px;
        }
    }

    .status {
        width: 140px;
        height: 22px;
        overflow: hidden;
        font-size: 15px;
        font-style: italic;
        margin-bottom: 15px;

        @media (min-width: 768px) {
            width: 160px;
        }

        @media (min-width: 992px) {
            width: 222px;
            font-size: 18px;
            height: 28px;
            margin-bottom: 20px;
        }
    }

    @media (min-width: 992px) {
        .name {
            font-size: 22px;
        }

        .status {
            font-size: 18px;
            margin-bottom: 10px;
        }
    }
}

.button {
    width: 75px;
    height: 28px;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid $btnBgColor;
    border-radius: 4px;
    transition: all .3s;
    cursor: pointer;

    @media (min-width: 992px) {
        width: 95px;
        height: 36px;
        font-size: 16px;
    }
}

.follow {
    color: #FFF;
    background-color: $btnBgColor;
    border-color: $btnBgColor;
}

.unfollow {
    color: $btnBgColor;
    background-color: transparent;
}

.button:disabled,
.button[disabled]{
  border: 1px solid #999;
  background-color: transparent;
  color: #666;
}