.formControl {
  position: relative;
  line-height: 0;
  width: 100%;
  background-color: #F0F2F5;
  box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.15);
  border-radius: 5px;
  border: 2px solid transparent;
  margin-bottom: 10px;
}

.formControl:hover,
.formControl:active,
.formControl:focus {
  border-color: #E4E6E9;
  transition: all .3s;
}

.formControl.error {
  border-color: red;
}

.formControl.error span {
  position: absolute;
  top: 0;
  right: -140px;
  color: red;
}

.formControl textarea {
  padding: 15px;
  resize: none;
  border: none;
  height: 144px;
  outline: none;
  width: 100%;
  background-color: transparent;
}

.formControl input {
  padding: 7px;
  border: none;
  outline: none;
  background-color: transparent;
}