.navigation {
  background-color: #F0F2F5;
  position: fixed;
}

.whrapper {
  margin-top: 5px;
}

.item {
  display: block;
  cursor: pointer;
  margin-bottom: 5px;
  width: 200px;
}

.item:last-child {
  margin-top: 40px;
}

.link:hover,
.link:active,
.link:focus {
  transition: all .3s;
  background-color: #E4E6E9;
}

.link,
.link:visited {
  display: inline-block;
  font-size: 20px;
  color: #000;
  padding: 15px;
  width: 100%;
  border-radius: 5px;
}

.active {
  background-color: #E4E6E9;
}