@import './../../styles/variables';

.navigation {
  background-color: $mainCompColor;
  position: fixed;
  left: 0;
  min-height: 100vh;
  padding-top: 75px;
}

.whrapper {
  padding: 15px;
}

.item {
  display: block;
  width: 250px;
  cursor: pointer;
}

.item:last-child {
  margin-top: 40px;
}

.link,
.link:visited {
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 12px;
  width: 100%;
  border-radius: 5px;

  &:hover,
  &:active,
  &:focus {
    transition: all .3s;
    color: $linkColor;
    fill: $linkColor;
    
    svg {
      fill: $linkColor !important;
    }
  }

  svg {
    width: 19px;
    height: 19px;
    margin-right: 10px;
    fill: $mainColor;
  }
}

.active {
  background-color: $activeAndInputBgColor;
  color: $linkColor;

  svg {
    fill: $linkColor !important;
  }
}