.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background:rgba(255,255,255, 0.94);
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.15);
  display: flex;
  align-items: center;
  padding-left: 20px;
  height: 70px;
  z-index: 2;
}

.logo {
  width: 55px;
  height: 55px;
  cursor: pointer;
}