.footer {
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  background:rgba(255,255,255, 0.94);
  box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.15);
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}

.copyright {
  margin: 0 25px 0;
}

.logo {
  width: 55px;
  height: 55px;
  cursor: pointer;
}