@import './../../../styles/_variables.scss';

.user {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.15);
  border-radius: 5px;
}

.banner {
  position: relative;
  height: 180px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

  @media (min-width: 992px) {
    height: 230px;
  }

  .photoWhrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -8%);
    width: 110px;
    height: 110px;
    z-index: 7;

    @media (min-width: 992px) {
      width: 130px;
      height: 130px;
      transform: translate(-50%, 0%);
    }
  }

  .photo {
    border: 1px solid $mainBgColor;
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3);
    border-radius: 50%;
  }

  .uploadPhoto {
    position: absolute;
    bottom: -5px;
    right: 10px;

    & svg {
      width: 16px;
      cursor: pointer;
      background-color: $mainCompColor;
      fill: $btnBgColor;

      &:hover {
        fill: $btnBgHoverColor;
      }
    }

    & input{
      display: none;
    }

    @media (min-width: 992px) {
      & svg {
        width: 21px;
      }
    }
  }

}

.info {
  display: flex;
  width: 100%;
  position: relative;
  background-color: $mainCompColor;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

  .profileData {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 20px;

    @media (min-width: 900px) {
      flex-direction: row;
    }
  }

  .profileDataForm {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0 20px;

    .editSocials {
      // margin-top: 30px;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;

      .contactEdit span {
        display: flex;
        justify-content: space-between;
        // flex-direction: row;
      }
    }
  }

  .editMode {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
    padding: 0;
    fill: $btnBgColor;
    cursor: pointer;
    z-index: 7;

    &:hover {
      fill: $btnBgHoverColor;
    }

    @media (min-width: 992px) {
      & {
        width: 30px;
        height: 30px;
      }
    }
  }
}

.editDischarge {
  left: 35px !important;

  @media (min-width: 992px) {
    & {
      left: 50px !important;
    }
  }
}

.name, .name input {
  font-size: 22px;

  @media (min-width: 992px) {
    font-size: 24px;
  }
}

.status {
  width: 200px;
  padding: 1px 15px;
  text-align: center;
  transition: .3s;
  cursor: pointer;

  &:hover {
    background-color: #29324f;
  }

  .staticStatus, .changeStatus {
    text-align: center;
    width: 100%;
  }

  .changeStatus {
    background-color: #29324f;
    letter-spacing: 0.8px;
  }

  @media (min-width: 992px) {
    font-size: 18px;

    .changeStatus {
      font-size: 19px;
    }
  }
}

.socials {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;

  .social {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  .social:last-child {
    margin-right: 0;
  }

  img {
    border-radius: 8px;
  }

  @media (min-width: 500px) {
    margin-bottom: 10px;
    margin-top: 0;

    .social {
      width: 35px;
      height: 35px;
      margin-right: 20px;
    }
  }

  @media (min-width: 900px) {
    margin-bottom: 0;

    .social {
      width: 25px;
      height: 25px;
      margin-right: 7px;
    }
  }

  @media (min-width: 992px) {
    .social {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
  }
  
  @media (min-width: 1350px) {
    .social {
      width: 36px;
      height: 36px;
      margin-right: 13px;
    }
  }
}

.mainStatus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;

  @media (min-width: 900px) {
    margin-bottom: 0;
  }
}

.job {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;     
  align-items: center;

  .text {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    svg {
      position: absolute;
      right: -13px;
      width: 30px;
      height: 30px;
    }
  }

  @media (min-width: 500px) {
    flex-direction: row;
    align-items: space-around;
    margin-bottom: 0;
  }

  @media (min-width: 900px) {
    flex-direction: column;
    align-items: center;
  }

  .text_asked {
    padding-right: 20px;
  }
}