@import './../../../styles/_variables.scss';

.posts {
  margin-top: 15px;
}

.whrapper {
  background-color: $mainCompColor;
  box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.15);
  border-radius: 5px;
}

.heading {
  font-weight: 500;
  font-size: 22px;
  padding: 15px 20px;

  @media (min-width: 992px) {
    font-size: 26px;
  }
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.formWhrapper {
  position: relative;
  height: 85px;
  padding-left: 85px;
  border-top: 2px solid $activeAndInputBgColor;
  border-bottom: 2px solid $activeAndInputBgColor;

  @media (min-width: 992px) {
    height: 100px;
    padding-left: 100px;
  }
}

.avatar {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translate(0, -50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;

  @media (min-width: 992px) {
    width: 70px;
    height: 70px;
  }
}

.field {
  height: 85px;

  @media (min-width: 992px) {
    height: 100px;
  }
}

.btn {
  width: 135px;
  color: $whiteColor;
  background-color: $btnBgColor;
  margin: 15px auto;
  padding: 7px 15px;
  border-radius: 5px;
  transition: all .3s;
  cursor: pointer;

  @media (min-width: 992px) {
    width: 195px;
  }
}

.btn:hover,
.btn:active,
.btn:focus {
  background-color: $btnBgHoverColor;
}