@import './../../styles/variables';

.news {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.head {
    width: 100%;
    background-color: $btnBgColor;
    box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
    margin-bottom: 15px;
    padding: 40px 25px;
    border-radius: 5px;

    h3 {
        font-size: 28px;
        color: $whiteColor;
        margin-bottom: 5px;
    }

    p {
        color: $whiteColor;

        a {
            color: $whiteColor;
            
            &:hover {
                text-decoration: underline;
            }
        }
    }

    @media (min-width: 768px) {
        padding: 50px 30px;

        h3 {
            font-size: 36px;
        }
    }
}

.item {
    padding: 15px 20px;
    box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
    background-color: $mainCompColor;
    width: 100%;
    margin-bottom: 25px;
    border-radius: 20px;

    &:last-child {
        margin-bottom: 0;
    }

    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // margin-bottom: 30px;
        .svg {
            width: 23px;
            fill: $mainColor;
        }
    }

    p {
        font-size: 15px;
    }

    .heading {
        font-size: 17px;
    }

    @media (min-width: 768px) {
        padding: 25px;

        p {
            font-size: 16px;
        }
        .heading {
            font-size: 18px;
        }
    }

    .contentHidden {
        visibility: hidden;
        opacity: 0;
        height: 0;
    }

    .show {
        height: auto;
        padding-top: 20px;
        visibility: visible;
        opacity: 1;
        transition: visibility 0s linear 0s, opacity 1.5s;

        // animation-name: drop;
        // animation-duration: 1s;
        // animation-timing-function: ease-out; // how
        // animation-iteration-count: 1; // how many times (infinite)
        // // animation-direction: alternate;
        // animation-play-state: running; // start on event
        // animation-delay: 0s;
        // animation-fill-mode: forwards; // where to end
        animation: drop 1s ease 1 0s forwards; // name dur count play-state delay fill-mode
    }
}

@keyframes drop {
  0% {
    visibility: hidden;
    opacity: 0;
    height: 0;
  }

  40% {
    height: auto;
    padding-top: 20px;
  }

  100% {
    height: auto;
    padding-top: 20px;
    visibility: visible;
    opacity: 1;
  }
}