@import './../../styles/variables';

.news {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.item {
    padding: 15px;
    background-color: $mainCompColor;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px;

    &:last-child {
        margin-bottom: 0;
    }
}