@import './styles/_variables.scss';

.app-whrapper {
  position: relative;
  background-color: $mainBgColor;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  max-width: 1270px;
  padding: 90px 0 15px;
}

.main {
  display: flex;
  width: 100%;
  margin-left: 230px;
}