html {
  box-sizing: border-box;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  position: relative;
  color: #000;
  font-size: 17px;
  line-height: 26px;
}

button:active, button:hover, button:focus {
  outline: none;
}

.app-whrapper {
  position: relative;
  background-color: #F0F2F5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 0 100px;
}

.container {
  width: 100%;
  min-height: calc(100vh - 190px);
  max-width: 1270px;
  display: flex;
  justify-content: space-between;
}

.main {
  display: flex;
  width: 100%;
  margin-left: 230px;
  background-color: #F0F2F5;
}