@import './styles/_variables.scss';

.app-whrapper {
  position: relative;
  background-color: $mainBgColor;
  min-height: 100vh;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 60px 20px 15px;

  @media (min-width: 768px) {
    margin-left: 76px;
    padding-top: 75px;
  }

  @media (min-width: 992px) {
    padding-top: 90px;
  }

  @media (min-width: 1200px) {
    margin-left: 284px;
  }
}

.main {
  display: flex;
  width: 1100px;
}