.whrapper {
    display: flex;
    margin-top: 5px;
}

/* .dialogs {

} */

.messages {
    position: relative;
    width: 100%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.new_message {
    display: flex;
    width: 50rem;
    flex-direction: column;
    margin-top: 50px;
}

.textarea,
.input {
    padding: 15px;
    border: none;
    outline: none;
    box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.15);
    border-radius: 5px;
    font-size: 16px;
}

.textarea {
    resize: none;
    background-color: #F0F2F5;
    margin-bottom: 10px;
    border: 2px solid transparent;
    padding-bottom: 0;
}

.textarea:hover,
.textarea:active,
.textarea:focus {
    border-color: #E4E6E9;
    transition: all .3s;
}

.input {
    width: 95px;
    text-align: center;
    padding: 7px 15px;
    align-self: flex-end;
    cursor: pointer;
    background-color: #272727;
    color: #fff;
}

.input:hover,
.input:active,
.input:focus {
    background-color: #1A1A1A;
    transition: all .3s;
}