.message {
    display: flex;
    padding: 15px;
}

.name {
    width: 90px;
    margin-right: 10px;

    @media (min-width: 768px) {
        width: 100px;
    }
}

.body {
    resize: none;
    width: 100%;
    margin: 0;
    font-size: 14px;
    word-break: break-all;

    @media (min-width: 992px) {
        font-size: 16px;
    }
}